<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/arsenal21_22.png" alt="Arsenal 2021-22" class="center">
        <center>
            <p>
                Brentford v Arsenal 2-0
                <br />
                Arsenal v Chelsea 0-2
                <br />
                Manchester City v Arsenal 5-0
                <br />
                Arsenal v Norwich City 1-0
                <br />
                Burnley v Arsenal 0-1
                <br />
                Arsenal v Tottenham Hotspur 3-1
                <br />
                Brighton and Hove Albion v Arsenal 0-0
                <br />
                Arsenal v Crystal Palace 2-2
                <br />
                Arsenal v Aston Villa 3-1
                <br />
                Leicester City v Arsenal 0-2
                <br />
                Arsenal v Watford 1-0
                <br />
                Liverpool v Arsenal 4-0
                <br />
                Arsenal v Newcastle United 2-0
                <br />
                Manchester United v Arsenal 3-2
                <br />
                Everton v Arsenal 2-1
                <br />
                Arsenal v Southampton 3-0
                <br />
                Arsenal v West Ham United 2-0
                <br />
                Leeds United v Arsenal 1-4
                <br />
                Norwich City v Arsenal 0-5
                <br />
                Arsenal v Manchester City 1-2
                <br />
                Arsenal v Burnley 0-0
                <br />
                Wolverhampton Wanderers v Arsenal 0-1
                <br />
                Arsenal v Brentford 2-1
                <br />
                Arsenal v Wolverhampton Wanderers 2-1
                <br />
                Watford v Arsenal 2-3
                <br />
                Arsenal v Leicester City 2-0
                <br />
                Arsenal v Liverpool 0-2
                <br />
                Aston Villa v Arsenal 0-1
                <br />
                Crystal Palace v Arsenal 3-0
                <br />
                Arsenal v Brighton and Hove Albion 1-2
                <br />
                Southampton v Arsenal 1-0
                <br />
                Chelsea v Arsenal 2-4
                <br />
                Arsenal v Manchester United 3-1
                <br />
                West Ham United v Arsenal 1-2
                <br />
                Arsenal v Leeds United 2-1
                <br />
                Tottenham Hotspur v Arsenal 3-0
                <br />
                Newcastle United v Arsenal 2-0
                <br />
                Arsenal v Everton 5-1
            </p>
        </center>
    </body>
</html>