<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/chelsea22_23.png" alt="Chelsea 2022-2023" class="center">
        <center>
            
            <p>
                Everton v Chelsea 0-1
                <br />
                Chelsea v Tottenham Hotspur 2-2
                <br />
                Leeds United v Chelsea 3-0
                <br />
                Chelsea v Leicester City 2-1
                <br />
                Southampton v Chelsea 2-1
                <br />
                Chelsea v West Ham United 2-1
                <br />
                Crystal Palace v Chelsea 1-2
                <br />
                Chelsea v Wolverhampton Wanderers 3-0
                <br />
                Aston Villa v Chelsea 0-2
                <br />
                Brentford v Chelsea 0-0
                <br />
                Chelsea v Manchester United 1-1
                <br />
                Brighton and Hove Albion v Chelsea 4-1
                <br />
                Chelsea v Arsenal 0-1
                <br />
                Newcastle United v Chelsea 1-0
                <br />
                TBA
            </p>
        </center>
    </body>
</html>