<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Football Icons</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <center>
            <img src="/static/logos/football_icons.png" alt="Football Icons Logo" height="15%" width="15%">
            <p style="font-size: xx-large">Welcome to Football Icons! Explore photos and stats of your favorite football teams from history.</p>
            <p style="font-size: x-large">Featuring top Premier League teams and their squads!</p>
            <a href="/team-selector">Select your team!</a>
            <br />
            <img src="/static/logos/arsenal.png" alt="Arsenal Logo" height="20%" width="19%">
            <img src="/static/logos/chelsea.png" alt="Chelsea Logo" height="20%" width="19%">
            <img src="/static/logos/liverpool.png" alt="Liverpool Logo" height="20%" width="19%">
            <img src="/static/logos/manchester_city.png" alt="Manchester City Logo" height="20%" width="19%">
        </center>

    </body>
</html>