<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/liverpool22_23.png" alt="Liverpool 2022-23" class="center">
        <center>
            <p>
                Fulham v Liverpool 2-2
                <br />
                Liverpool v Crystal Palace 1-1 
                <br />
                Manchester United v Liverpool 2-1 
                <br />
                Liverpool v AFC Bournemouth 9-0 
                <br />
                Liverpool v Newcastle United 2-1 
                <br />
                Everton v Liverpool 0-0 
                <br />
                Liverpool v Brighton and Hove Albion 3-3 
                <br />
                Arsenal v Liverpool 3-2 
                <br />
                Liverpool v Manchester City 1-0 
                <br />
                Liverpool v West Ham United 1-0 
                <br />
                Nottingham Forest v Liverpool 1-0 
                <br />
                Liverpool v Leeds United 1-2 
                <br />
                Tottenham Hotspur v Liverpool 1-2 
                <br />
                Liverpool v Southampton 3-1
                <br />
                TBA
            </p>
        </center>
    </body>
</html>