<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/manchester_city20_21.png" alt="Manchester City 2020-21" class="center">
        <center>
            <p>
                Wolverhampton Wanderers v Manchester City 1-3
                <br />
                Manchester City v Leicester City 2-5 
                <br />
                Leeds United v Manchester City 1-1 
                <br />
                Manchester City v Arsenal 1-0 
                <br />
                West Ham United v Manchester City 1-1
                <br />
                Sheffield United v Manchester City 0-1 
                <br />
                Manchester City v Liverpool 1-1 
                <br />
                Tottenham Hotspur v Manchester City 2-0 
                <br />
                Manchester City v Burnley 5-0
                <br />
                Manchester City v Fulham 2-0 
                <br />
                Manchester United v Manchester City 0-0 
                <br />
                Manchester City v West Bromwich Albion 1-1 
                <br />
                Southampton v Manchester City 0-1 
                <br />
                Manchester City v Newcastle United 2-0 
                <br />
                Chelsea v Manchester City 1-3 
                <br />
                Manchester City v Brighton and Hove Albion 1-0 
                <br />
                Manchester City v Crystal Palace 4-0 
                <br />
                Manchester City v Aston Villa 2-0 
                <br />
                West Bromwich Albion v Manchester City 0-5 
                <br />
                Manchester City v Sheffield United 1-0 
                <br />
                Burnley v Manchester City 0-2 
                <br />
                Liverpool v Manchester City 1-4 
                <br />
                Manchester City v Tottenham Hotspur 3-0 
                <br />
                Everton v Manchester City 1-3 
                <br />
                Arsenal v Manchester City 0-1 
                <br />
                Manchester City v West Ham United 2-1
                <br />
                Manchester City v Wolverhampton Wanderers 4-1 
                <br />
                Manchester City v Manchester United 0-2 
                <br />
                Manchester City v Southampton 5-2 
                <br />
                Fulham v Manchester City 0-3 
                <br />
                Leicester City v Manchester City 0-2 
                <br />
                Manchester City v Leeds United 1-2 
                <br />
                Aston Villa v Manchester City 1-2 
                <br />
                Crystal Palace v Manchester City 0-2 
                <br />
                Manchester City v Chelsea 1-2 
                <br />
                Newcastle United v Manchester City 3-4 
                <br />
                Brighton and Hove Albion v Manchester City 3-2 
                <br />
                Manchester City v Everton 5-0
            </p>
        </center>
    </body>
</html>