<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/manchester_city22_23.png" alt="Manchester City 2022-23" class="center">
        <center>
            <p>
                West Ham United v Manchester City 0-2 
                <br />
                Manchester City v AFC Bournemouth 4-0 
                <br />
                Newcastle United v Manchester City 3-3 
                <br />
                Manchester City v Crystal Palace 4-2 
                <br />
                Manchester City v Nottingham Forest 6-0 
                <br />
                Aston Villa v Manchester City 1-1 
                <br />
                Wolverhampton Wanderers v Manchester City 0-3 
                <br />
                Manchester City v Manchester United 6-3 
                <br />
                Manchester City v Southampton 4-0 
                <br />
                Liverpool v Manchester City 1-0 
                <br />
                Manchester City v Brighton and Hove Albion 3-1 
                <br />
                Leicester City v Manchester City 0-1 
                <br />
                Manchester City v Fulham 2-1 
                <br />
                Manchester City v Brentford 1-2
                <br />
                TBA
            </p>
        </center>
    </body>
</html>