<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Football Icons</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <img src="/static/logos/premier_league_logo.png" alt="Premier League Logo" class="center">
        <form method="post">
            <label for="team" class="center">Team:</label>
                <select id="team" name="team" class="center">
                    <option value="arsenal">Arsenal</option>
                    <option value="chelsea">Chelsea</option>
                    <option value="liverpool">Liverpool</option>
                    <option value="manchester_city">Manchester City</option>
                </select>
                <br />
            <label for="year" class="center">Year:</label>
                <select id="year" name="year" class="center">
                    <option value="22_23">2022-23</option>
                    <option value="21_22">2021-22</option>
                    <option value="20_21">2020-21</option>
                    <option value="19_20">2019-20</option>
                </select>
                <br />
            <input type="submit" value="Continue!" class="center"/>
        </form>
    </body>
</html>